* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background: url('lightning.jpg') no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.6); /* Dark overlay to improve text readability */
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  color: #fff;
}

header h1 {
  font-size: 48px;
  color: #39ff14;
  text-transform: uppercase;
  letter-spacing: 2px;
}

header p {
  font-size: 20px;
  color: #ff00ff;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
}

.message h2 {
  font-size: 36px;
  color: #39ff14;
  text-shadow: 0px 0px 10px #ff00ff;
}

.quote h3 {
  font-size: 30px;
  color: #ff00ff;
  margin: 40px 0;
  text-shadow: 0px 0px 10px #00f7ff;
}

footer {
  padding-top: 20px;
}

footer p {
  font-size: 20px;
  color: #39ff14;
  text-shadow: 0px 0px 10px #00f7ff;
}
