* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #0d0d0d;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  text-align: center;
  max-width: 900px;
  padding: 20px;
  background: linear-gradient(145deg, #141414, #292929);
  border-radius: 15px;
  box-shadow: 0px 8px 30px rgba(0, 255, 255, 0.8), 0px 8px 15px rgba(255, 0, 255, 0.8);
}

header h1 {
  font-size: 48px;
  color: #39ff14;
  text-transform: uppercase;
  letter-spacing: 2px;
}

header p {
  font-size: 20px;
  color: #ff00ff;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
}

.mcqueen-img {
  width: 350px;
  border-radius: 20px;
  border: 3px solid #ff00ff;
  box-shadow: 0px 0px 20px #39ff14;
  animation: pulse 2s infinite;
}

.message h2 {
  font-size: 36px;
  color: #39ff14;
  margin-left: 20px;
  text-shadow: 0px 0px 10px #ff00ff;
}

.message p {
  font-size: 24px;
  color: #00f7ff;
  margin-left: 20px;
  text-shadow: 0px 0px 10px #ff00ff;
}

.quote h3 {
  font-size: 30px;
  color: #ff00ff;
  margin: 40px 0;
  text-shadow: 0px 0px 10px #00f7ff;
}

footer {
  padding-top: 20px;
}

footer p {
  font-size: 20px;
  color: #39ff14;
  text-shadow:
